
.centerClass {
    text-align: center; /* Horizontally center */
    background-color: #F7F3E3
          width: 100vw;
      height: 100vh;
  }

.linksContainer {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-template-rows: repeat(3, auto); /* Three rows with auto height */
    gap: 10px; /* Optional: Add gap between grid items */
  }
  .item {
      padding-top: 20px; /* Adjust the value as needed */
  }

.full-page {

    }

.no-underline {
      text-decoration: none;
      color: inherit;
    }
