

body {
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  background-color: #f0f0f0; /* Optional: Set a background color */
}

.centerClass {
  text-align: center; /* Horizontally center text */
  background-color: #F7F3E3;
  padding: 20px; /* Add padding for spacing */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Centers items horizontally */
    flex-direction: column; /* Align items vertically */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  max-width: 100%; /* Ensure it doesn't exceed viewport width */
  max-height: 100%; /* Ensure it doesn't exceed viewport height */
}

.linksContainer {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Align items vertically */
 gap: 10px; /* Optional: Add gap between grid items */
  align-items: center; /* Centers items horizontally */
  width: 100%; /* Ensure the div takes full width */
  max-width: 400px; /* Limit the maximum width if needed */
}

.btnSize {
  width: 100%; /* Adjust button width to fill container */
  max-width: 300px; /* Limit the maximum button width */
}

.topPadding {
    padding-top: 15px;
}

.no-underline {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
  width: 100%;
  justify-content: center; /* Center text horizontally */
}
